@mixin mq($breakpoint: md) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

.appName {
  &__name {
    font-family: Monotype Corsiva;
  }

  &__message {
    margin: $xl-size 0;

    @include mq(sm) {
      font-size: $m-size;
    }
  }
}
